$primary: #471b7d;
$secondary: #CC1A44;
$success: #28a745 ;
$danger: #dc3545;
$warning: #ffc107;
$info: #f7f7f7;
$light: #dfe3ee;
$dark: #343a40;

.card-img, .card-img-top {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
