@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

* {
  font-family: "Nunito", sans-serif !important;
}

body {
  background-color: $light;
}

span.badge {
  padding: 4px;
  font-weight: 400;
}
